{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "plugins": ["@gitkumi/prettier-plugin-handlebars"],
  "overrides": [
    {
      "files": ["*.css"],
      "options": {
        "parser": "css",
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.hbs"],
      "options": {
        "parser": "handlebars",
        "printWidth": 120
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    }
  ]
}
